Repository kw-capstone/web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc:

{
    "*.{tsx,ts,css,scss,html}": "prettier --write",
    "*.css": "stylelint --fix",
    "*.scss": "stylelint --fix"
}

refactor: apply for loop with related products
  src/views/Product.tsx
Due: prettier --write

refactor: change const data into variable
  src/views/Product.tsx
Due: prettier --write

refactor: seperate constant from component
  src/components/TopSellingSmall.tsx
  src/components/products.constant.ts
Due: prettier --write

refactor: seperate constant from component
  src/components/TopSelling.tsx
  src/components/products.constant.ts
Due: prettier --write

refactor: seperate const component from component
  src/components/NewProducts.tsx
  src/components/products.constant.ts
Due: prettier --write

fix: remove global variable for rendering error
  src/components/TopSellingSmall.tsx
  src/components/products.constant.ts
Due: prettier --write

ci: update extends
  .stylelintrc
Due: none

refactor: remove unused import
  src/main.tsx
Due: prettier --write

docs: create todo
  docs/TODO.md
Due: none

Deploying to gh-pages from @ kw-capstone/web@0932ba0cafa9fe6e2f7e6511613429ce8ebde136 🚀
  assets/index.9b01b042.js
  assets/index.e1320e83.js
  index.html
Due: prettier --write

[skip ci] docs: update todo
  docs/TODO.md
Due: none

fix(product): add slick lib
  src/views/Product.tsx
Due: prettier --write

Deploying to gh-pages from @ kw-capstone/web@e94d78120c5cc8145030ec89a43e05f4e20c5176 🚀
  assets/index.8f98854d.js
  assets/index.9b01b042.js
  index.html
Due: prettier --write

feat(router): add link to router link
  src/components/AppHeader.tsx
  src/components/NewProducts.tsx
  src/components/ShopCollections.tsx
  src/components/TopSelling.tsx
  src/components/TopSellingSmall.tsx
  src/views/Product.tsx
Due: prettier --write

Deploying to gh-pages from @ kw-capstone/web@b447a1869aae5b124521600927b748706daf03b3 🚀
  assets/index.8f98854d.js
  assets/index.a332e29d.js
  index.html
Due: prettier --write

build(npm): update package
  package.json
  yarn.lock
Due: none

fix: add bootstrap js to component
  src/components/AppHeader.tsx
  src/components/Dropdown.tsx
  src/components/NewProducts.tsx
  src/components/TopSelling.tsx
  src/views/Product.tsx
Due: prettier --write

Deploying to gh-pages from @ kw-capstone/web@31a7b3226117bca32e103412e2932fcf1301dfcd 🚀
  assets/index.3c7bc0ac.js
  assets/index.a332e29d.js
  index.html
Due: prettier --write

Deploying to gh-pages from @ kw-capstone/web@dd05b50dcf87aaee1c65cb05a24053a00d75f4ab 🚀
  assets/index.3c7bc0ac.js
  assets/index.f5e56535.js
  index.html
Due: prettier --write

fix: correct css selector name
  src/main.tsx
  src/products-slick.css
  src/views/Store.tsx
Due: prettier --write, stylelint --fix

Deploying to gh-pages from @ kw-capstone/web@5643f47d418ee43df1af93b2a5bc92c427fcb61e 🚀
  assets/index.2641357e.js
  assets/index.98d4906a.css
  assets/index.f5e56535.js
  index.html
Due: prettier --write, stylelint --fix

docs: update todo [skip ci]
  docs/TODO.md
Due: none

docs: update todo
  docs/TODO.md
Due: none

fix(router): update router basename
  src/main.tsx
Due: prettier --write

Deploying to gh-pages from @ kw-capstone/web@234f5e5ebabaf7eca0ecfdc63f03051492d71ead 🚀
  assets/index.d7f6a4f0.js
  index.html
Due: prettier --write

docs: [skip ci] update todo
  docs/TODO.md
Due: none

[skip ci] Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none
